@import './colors';

@mixin inputOne {
	height: 30px;
	width: 100%;
	font-size: 18px;
	padding: 0 5px;
	border-radius: 5px;
	border: none;
	background-color: rgba(134, 170, 211, 0.329);
	color: #fff;
}

@mixin buttonOne {
	margin: 20px 0;
	height: 30px;
	width: 100%;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 0;
	color: #fff;
}
