.login_container {
	background-color: black;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.container_left {
		display: flex;
		justify-content: center;
		align-items: center;
		.img_logo {
			width: 600px;
			height: 400px;
			margin-bottom: 50px;
			animation: animation_pokemon 10s ease infinite;
		}
	}
	.container_right {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(231, 231, 231, 0.1);
		form {
			padding: 40px 20px;
			height: 400px;
			background-color: royalblue;
			h2 {
				text-align: center;
				margin-bottom: 50px;
			}
			.container_input {
				margin-bottom: 30px;
				div {
					display: flex;
					img {
						width: 25px;
						height: 25px;
					}
					input {
						height: 30px;
						width: 100%;
						font-size: 18px;
						padding: 0 5px;
						border-radius: 5px;
						border: none;
						background-color: grey;
					}
				}
				p {
					text-align: center;
				}
			}
			button {
				margin: 20px 0;
				height: 30px;
				width: 100%;
				cursor: pointer;
			}
		}
	}
}

@keyframes animation_pokemon {
	0% {
		transform: translate(0);
	}
	40% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}
